.mead-card {
    width: 500px;
    min-height: 150px;
    border-radius: 25px;
    margin: 10px;
    background-color: white;
    color: black;
}

.mead-header-right {
  display: inline-block;
  position:absolute;
  right: 20px;
  top: 20px;
  font-size: 50px;
}

.button-remove-div {
    margin: 0 auto;
    width: 100px;
}

.mat-card-title {
    font-size: 30px;
}

.mat-card-subtitle {
    font-size: 20px;
    color: black;
}


.mat-card-actions {
    margin-top: 25px;
}