.mead-card {
    width: 500px;
    min-height: 150px;
    border-radius: 25px;
    margin: 10px;
    background-color: white;
}

.mead-header-right {
  display: inline-block;
  position:absolute;
  right: 20px;
  top: 20px;
  font-size: 40px;
}

.button-remove-div {
    margin: 0 auto;
    width: 100px;
}

input {
    font-size: 40px;
    width: 65px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.mat-card-actions {
    margin-top: 50px;
}