<mat-card class="mead-card">
    <mat-card-header>
      <mat-card-title>
        <input class="input" matInput type="string" [(ngModel)]="id"></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <div class="mead-header-right">
      </div>
    </mat-card-header>
    <hr noshade /><br />
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <div class="button-remove-div">
            <button class="button-remove" mat-raised-button color="accent" (click)="addCard()">Add</button>
        </div>
    </mat-card-actions>
</mat-card>